$mainWidth: 982px;

.header {
	height: 207px;
	background-image: url('/images/header/header-background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: initial;

	.wrapper {
		width: $mainWidth;
		height: 207px;
		margin: auto;
	}
}

.menu ul {
	@include main-width($mainWidth - 135px);
	padding-left: 135px;
	height: 50px;
	margin-top: 20px;
	position: relative;
	z-index: 10px;
}

#footer {
	width: 100%;

	.footer__developed-by {
		margin-top: 5px;
		img {
			margin-bottom: -4px;
		}
	}
}