.thanks {
  .heading {
    @extend .main-heading;
  }
}

.wrapper {
  margin: 50px auto;
  width: $mainWidth;
}

.message {
  background-color: #dff0d8;
  border: solid 1px darken(#dff0d8, 10%);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Muli, Verdana, sans-serif;
  color: #3c763d;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  line-height: 24px;
}