#footer {
	background-color: $gray;
	color: $white;
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	height: 80px;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: $white;

		&:hover {
			text-decoration: underline;
		}
	}
}