.main-heading {
	background-color: $gray;
	padding: 25px 0;
	.wrapper {
		width: $mainWidth;
		margin: auto;
		background-color: #fff;
		padding: 30px 40px;
		box-shadow: inset 0px 0 16px 2px rgba(#000, .8);
		h2 {
			color: #2b2829;
			font-family: Verdana, Arial, sans-serif;
			font-size: 40px;
			font-weight: bold;
			text-align: center;
		}
	}
}